<!--div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#" class="active">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div-->
  <div class="pagination">
      <a [class.disabled]="!hasPrevious() || disabled" href (click)="selectPage(page-1); $event.preventDefault()">&laquo;</a>
      <a *ngFor="let pageNumber of pages"  href (click)="selectPage(pageNumber); $event.preventDefault()" [ngClass]="{'active': (pageNumber === page)}">{{pageNumber}}</a>
      <a [class.disabled]="!hasNext() || disabled" href (click)="selectPage(page+1); $event.preventDefault()">&raquo;</a>
    </div>
